* {
  padding: 0;
  margin: 0;
}

.noShow {
  display: none;
}

.pictureGrid img:hover {
  opacity: 0.8;
}

.fullScreen {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.fullScreen img {
  max-height: 100vh;
  max-width: 100vw;
}

.fullScreenHeader {
  z-index: 1000;
  position: absolute;
  margin-left: 15px;
  margin-top: 18px;
}

@media only screen and (min-width: 701px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 900px;
    margin: auto;
    justify-items: center;
    align-items: center;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 2fr 70px 70px 1fr;
    justify-items: start;
    align-items: center;
    background-color: rgba(44, 62, 80, 0.85);
    padding: 5px 30px;
    margin: 0px 10px 20px 10px;
    border-radius: 8px;
  }

  .searchMobile {
    display: none;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #ecf0f1;
    padding-left: 5px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 700px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 700px;
    margin: auto;
    grid-template-rows: auto auto auto;

    align-items: center;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
    align-items: center;
    background-color: rgba(44, 62, 80, 0.85);
    padding: 5px 30px;
    margin: 0px 10px 20px 10px;
    border-radius: 8px;
  }

  .search {
    display: none;
  }

  .searchMobile {
    width: 80%;
    margin: auto;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 480px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 700px;
    margin: auto;
    grid-template-rows: auto auto auto;

    align-items: center;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 10fr 40px 20px;
    grid-template-rows: auto;
    justify-items: start;
    align-items: center;
    background-color: rgba(44, 62, 80, 0.85);
    padding: 5px 30px;
    margin: 0px 10px 20px 10px;
    border-radius: 8px;
  }

  .search {
    display: none;
  }

  .searchMobile {
    width: 80%;
    margin: auto;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}
