* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.noShow {
  display: none;
}

.pictureGrid img:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.pictureGrid img:active {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.fullScreen {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.fullScreen img {
  max-height: 100vh;
  max-width: 100vw;
}

.fullScreenHeader {
  z-index: 1000;
  position: absolute;
  margin-left: 15px;
  margin-top: 18px;
}

@media only screen and (min-width: 1301px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: #f5f5f5;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 2fr 70px 70px 1fr;
    justify-items: start;
    align-items: center;
    padding: 10px 30px;
    margin: 0px 10px 30px 0px;
    width: 100%;
    box-shadow: 1px 4px 6px #bdbdbd;
    background-color: #fff;
  }

  .searchMobile {
    display: none;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #212121;
    padding-left: 5px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    max-width: 900px;
    margin: auto;
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: #f5f5f5;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 2fr 70px 70px 1fr;
    justify-items: start;
    align-items: center;
    padding: 10px 30px;
    margin: 0px 10px 30px 0px;
    width: 100%;
    box-shadow: 1px 4px 6px #bdbdbd;
    background-color: #fff;
  }

  .searchMobile {
    display: none;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #212121;
    padding-left: 5px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    max-width: 900px;
    margin: auto;
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: #f5f5f5;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 2fr 70px 70px 1fr;
    justify-items: start;
    align-items: center;
    padding: 10px 30px;
    margin: 0px 10px 30px 0px;
    width: 100%;
    box-shadow: 1px 4px 6px #bdbdbd;
    background-color: #fff;
  }

  .searchMobile {
    display: none;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #212121;
    padding-left: 5px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    max-width: 900px;
    margin: auto;
    grid-gap: 15px;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 900px) and (min-width: 701px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    background-color: #f5f5f5;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
    align-items: center;
    padding: 15px 30px;
    margin: 0px 10px 30px 0px;
    width: 100%;
    box-shadow: 1px 4px 6px #bdbdbd;
    background-color: #fff;
  }

  .search {
    display: none;
  }

  .searchMobile {
    width: 50%;
    margin: auto;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #212121;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 15px;
    max-width: 700px;
    margin: auto;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 700px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    background-color: #f5f5f5;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
    align-items: center;
    padding: 15px 30px;
    margin: 0px 10px 30px 0px;
    width: 100%;
    box-shadow: 1px 4px 6px #bdbdbd;
    background-color: #fff;
  }

  .search {
    display: none;
  }

  .searchMobile {
    width: 50%;
    margin: auto;
  }

  .title {
    font-family: "ABeeZee", sans-serif;
    font-weight: "100";
    letter-spacing: 0.5px;
    font-size: 18px;
    color: #212121;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 15px;
    max-width: 700px;
    margin: auto;
    justify-content: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}
