* {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 701px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 900px;
    margin: auto;
    justify-items: center;
    align-items: center;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 2fr 70px 1fr;
    justify-items: start;
    align-items: center;
    background-color: rgba(44, 62, 80, 0.85);
    padding: 5px 30px;
    margin: 10px 0px 20px 0px;
    border-radius: 8px;
  }

  .title {
    font-family: "Tahoma";
    font-weight: "100";
    letter-spacing: 2px;
    font-size: 20px;
    color: #ecf0f1;
    padding-bottom: 3px;
    padding-left: 5px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 700px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 900px;
    margin: auto;
    justify-items: center;
    align-items: center;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr;

    justify-items: center;
    align-items: center;
    background-color: rgba(44, 62, 80, 0.85);
    padding: 5px 30px;
    margin: 10px 5px 20px 5px;
    border-radius: 8px;
  }

  .title {
    font-family: "Tahoma";
    font-weight: "100";
    letter-spacing: 1px;
    font-size: 18px;
    color: #ecf0f1;
    padding-bottom: 3px;
    text-decoration: none;
  }

  .title:hover {
    text-decoration: none;
  }

  .pictureGrid {
    grid-area: pictures;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }

  .searchIcon:active {
    color: black;
    font-weight: bolder;
  }
}
